.container {
  background: var(--gamelist-games-bg);
  overflow: auto;
}

.title {
  color: #FFFFFF;
  line-height: 36px;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 40px;
}

.rounds {
  margin-top: 32px;
  position: relative;
  z-index: 0;
}