**/.DS_Store
/node_modules
/dist
/dist_mobile
.env
.lde-compose.yml
.DS_Store
node_modules/
dist/
*.deb
tmp/
.rvm
.*.sw[m-p]
.idea/
.vscode/
package-lock.json
yarn.lock
*~
*.*~
*.orig
*.log
.prettierrc
settings.json
Podfile.lock
