.title {
  position: sticky;
  z-index: 3;
  top: 0;
  display: flex;
  align-items: center;
  padding: 24px 19px 11px;
  margin: 0 -11px;
  font-size: 24px;
  font-weight: 600;
  column-gap: 16px;
  user-select: none;
}
