.container {
  color: var(--roundinfo-resolution-unverified-color);
}

.pheader {
  border-top: 1px solid var(--roundinfo-resolution-border-color);

  &.expanded {
    border-color: transparent;
  }

  .resolutionicon {
    display: flex;
  }
}
