.scrolltonow {
  position: absolute;
  top: calc(50% - 38px);
  right: 65px;
  transform: translateY(-50%);

  &:active {
    .container {
      transform: translateX(12%);
      background: #1F50F7A0;
    }
  }

  .container {
    width: 40px;
    height: 72px;
    margin-right: 0;
    background: #1E397970;
    border-radius: 24px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s ease-in;
    transition: transform .1s ease-out, background-color .1s ease-out;
    user-select: none;

    @keyframes fadeIn {
      0% {
        transform: translateX(100%);
        opacity: 0;
      }
      90% {
        transform: translateX(100%);
        opacity: 0;
      }
      100% {
        transform: translateX(0%);
        opacity: 1;
      }
    }
  }
}
