.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
  width: 100%;
}

.inner {
  user-select: none;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 8px;
}

.button {
  background-color: #0F1F43;
}