.coin {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &.gold {
    box-shadow: 0 0 72px 0 rgba(238,188,97,.72), inset 0 0 72px 0px rgba(238,188,97,.1);
  }

  &.silver {
    box-shadow: 0 0 72px 0 rgba(212,236,243,.72), inset 0 0 72px 0px rgba(212,236,243,.1);
  }

  &.green {
    box-shadow: 0 0 72px 0 rgba(212,236,243,.72), inset 0 0 72px 0px rgba(212,236,243,.1);
  }
}
