.roundinfo {
  padding: 0 5.5px 0 16px;
  margin: 3px 5px 5.5px 0;
}

.prizefunds {
  margin-right: 8px;
  margin-left: 8px;
}

.level {
  font-size: 14px;
  line-height: 14px;
}

.roundTitle {
  justify-content: space-between;
  padding-top: 36px;
  font-size: 32px;
  font-weight: 700;
  line-height: 0.75;
}

.title {
  background: var(--website-bg);
  padding-left: 31px;
  padding-right: 20px;
  margin-left: -16px;
  margin-right: -5px;
}

.rounddata {
  margin-top: 5px;
}