:root {
  // light
  --sunlight: #F6F6F7;

  // dark
  --darkstar: #22273F;

  // sizeing
  --navbar-width: 72px;
  --navbar-logo-height: 80px;

  --header-left: var(--navbar-width);
  --header-height: 80px;

  --toolbar-top: var(--header-height);
  --toolbar-width: 72px;
  --toolbar-width-opened: 377px;
  --toolbar-lg-width-opened: 416px;

  --webtrader-margin-top: var(--header-height);
  --webtrader-margin-left: var(--navbar-width);
  --webtrader-margin-right: var(--toolbar-width);

  --roundinfo-width: var(--toolbar-width-opened);
  --roundinfo-lg-width: var(--toolbar-lg-width-opened);
  --roundinfo-height: calc(100vh - var(--toolbar-top));

  --predictionlistwidget-width: var(--toolbar-width-opened);
  --predictionlistwidget-lg-width: var(--toolbar-lg-width-opened);
  --predictionlistwidget-height: calc(100vh - var(--toolbar-top));

  --chatwidget-width: var(--toolbar-width-opened);
  --chatwidget-lg-width: var(--toolbar-lg-width-opened);
  --chatwidget-height: calc(100vh - var(--toolbar-top));

  --resolvedpredictionwidget-top: calc(var(--header-height) + 16px);
  --resolvedpredictionwidget-left: calc(var(--navbar-width) + 16px);
  --resolvedpredictionwidget-bottom: 16px;
  --resolvedpredictionwidget-width: 421px;
}

.light {
  --website-bg: var(--sunlight);
}

.dark {
  --website-bg: #071226;
  --border-color: rgba(255, 255, 255, 0.05);
  --header-border-color: var(--border-color);
  --toolbar-border-color: var(--border-color);
  --toolbar-icon-bg-hover: #051A48;
  --toolbar-icon-bg-active: #0B3088;
  --toolbar-icon-bg-selected: #1E3779;
  --pricefeedinfo-bg: #071226;
  --pricefeedinfo-subtitle-color: #474C67;
  --pricefeedinfo-title-color: #474C67;
  --roundprizefundsbar-bg: #0F1F43;
  --roundprizefundsbar-percent-down-color: #B4BAE1;
  --roundprizefundsbar-percent-up-color: #B4BAE1;
  --roundprizefundsbar-percent-zero-color: #B4BAE1;
  --roundprizefundsbar-line-down-bg: #D7335B;
  --roundprizefundsbar-line-up-bg: #02A179;
  --roundprizefundsbar-line-zero-bg: #FFFFFF;
  --gamepinbar-add-border-color: #474C67;
  --gamepinbar-add-bg: #1F50F7;
  --gamepinbar-add-bg-hover: #3350FF;
  --gamepinbar-add-bg-active: #5E75FF;
  --gamepinbar-arrow-bg: var(--website-bg);
  --gamepinbar-arrow-bg-hover: #303550;
  --gamepinbar-arrow-mask-bg: linear-gradient(90deg, rgba(41, 44, 55, 0) 0%, var(--website-bg) 100%);
  --gamepinbar-tile-bg: transparent;
  --gamepinbar-tile-bg-selected: #1E3779;
  --gamepinbar-tile-border-color: #1E3779;
  --gamepinbar-tile-border-color-selected: transparent;
  --gamepinbar-tile-bg-anim: linear-gradient(90deg, transparent 0%, #0F1F43 50%, transparent 100%);
  --gamepinbar-tile-bg-anim-selected: linear-gradient(90deg, transparent 0%, #2C4B9C 50%, transparent 100%);
  --gamepinbar-tile-hl-selected: #ffffff;
  --gamepinbar-tile-name-color: #FFFFFF;
  --gamepinbar-tile-tillpayout-color: #FFFFFF;
  --gamepinbar-tile-prize-color: #FFFFFF;
  --gamepinbar-tile-round-unlocked-bg: #1F50F7;
  --gamepinbar-tile-timeprogress-border-color: #7CD0FF;
  --gamepinbar-tile-locktimer-border-color: #474C67;
  --gamepinbar-tile-main-text-color: #FFFFFF;
  --gamepinbar-tile-sub-text-color: #8f9091;
  --gamepinbar-tile-hover-bg: #303135;
  --gamepinbar-tile-currency-level-fill: #071226;
  --gamepinbar-tile-currency-level-fill-selected: #1E3779;
  --betbar-bg: rgba(34, 45, 61, 0.75);
  --betbar-border: #303c51;
  --betbar-timepositioning-color: #FFA000;
  --betbar-timeopen-color: #FFFFFF;
  --betbar-betup-bg: #02A179;
  --betbar-betdown-bg: #D7335B;
  --betbar-betzero-bg: #FFFFFF;
  --betbar-betarrow-bg: transparent;
  --betbar-betarrow-border-color: #FFFFFF;
  --betbar-betarrow-border-color-dark: #071226;
  --betbar-betpercent-color: #FFFFFF;
  --betbar-ratetitle-color: #D0D7FF;
  --betbar-ratevalue-color: #FFFFFF;
  --betbar-pietimerprogress-border-color: #FFA000;
  --betbar-pietimerlocked-border-color: #474C67;
  --betbar-tillpayoutprogress-border-color: #FFFFFF;
  --betbar-amount-bg: rgba(0, 0, 0, .2);
  --betbar-control-bg: #FFFFFF;
  --betbar-control-color: #071226;
  --betbar-lock-countdown-color: #FEA186;
  --betbar-lock-countdown-icon-bg: #FE8F86;
  --roundinfo-additional-info-bg: #172955;
  --roundinfo-price-details-bg: #0F1F43;
  --roundinfo-price-details-description-color: #D0D7FF;
  --roundinfo-price-details-row-border: #273557;
  --roundinfo-details-hide-color: #577CF9;
  --roundinfo-details-hide-bg: #071226;
  --roundinfo-details-hide-bg-hover: #0d1a37;
  --roundinfo-details-hide-bg-active: #182750;
  --roundinfo-trades-prediction-bg: #0C1937;
  --roundinfo-trades-prediction-win-bg: #0F1F43;
  --roundinfo-trades-prediction-payout-bg: #0B1935;
  --roundinfo-trades-prediction-percentage-bg: linear-gradient(77deg, #F7C15B 0%, #FFD78D 100%);
  --roundinfo-trades-prediction-percentage-color: #0F1F43;
  --roundinfo-border-color: var(--border-color);
  --roundinfo-resolution-border-color: rgba(255, 255, 255, 0.1);
  --roundinfo-resolution-unverified-color: #F7C15B;
  --roundinfo-transaction-icon-color: #B7BDD7;
  --roundinfo-transaction-icon-color-hover: #577CF9;
  --roundinfo-title-color: #FFFFFF;
  --roundinfo-description-color: #C7CFFF;
  --roundinfo-inner-border-color: #18253A;
  --roundinfo-bettors-number-color: #FFFFFF;
  --roundinfo-prize-color: #FFFFFF;
  --roundinfo-phase-positioning-color: linear-gradient(45deg, #FFA000 0%, #FFC700 100%);
  --roundinfo-phase-awaiting-color: linear-gradient(77.35deg, #007397 0%, #009797 100%);
  --roundinfo-expiration-bg: #0C1937;
  --roundinfo-expiration-clock-bg: #1940c6;
  --roundinfo-expired-bg: #f7931a29;
  --round-funds-down-percent: #D73365;
  --round-funds-up-percent: #02A179;
  --round-funds-zero-percent: #FFFFFF;
  --round-timelines-bg: #474C67;
  --chatwidget-border-color: var(--border-color);
  --chatwidget-author-color: #FFFFFF;
  --chatwidget-bet-color: #C3C3C5;
  --chatwidget-currency-color: #C3C3C5;
  --chatwidget-remote-text-color: rgba(255, 255, 255, 0.9);
  --chatwidget-remote-message-bg: #172A4C;
  --chatwidget-remote-message-sender-color: #FFFFFF;
  --chatwidget-username-color: #ffd500;
  --chatwidget-self-text-color: #FFFFFF;
  --chatwidget-self-message-bg: linear-gradient(77.35deg, #0E3CDA 0%, #5C0EDA 100%);
  --chatwidget-system-message-bg: #00000000;
  --chatwidget-system-border: #474C67;
  --chatwidget-system-text-color: #00A573;
  --chatwidget-mask-bg: linear-gradient(180deg, var(--website-bg) 0%, rgba(34, 39, 63, 0) 100%);
  --chatwidget-input-bg: rgba(21, 39, 80, 0.75);
  --chatwidget-input-bg-hover: rgba(21, 39, 80, 1);
  --chatwidget-input-bg-focus: rgba(21, 39, 80, 1);
  --chatwidget-input-color: #FFFFFF;
  --chatwidget-scroll-thumb: #474C67;
  --chatwidget-scroll-track: #22273F;
  --chatwidget-sendbutton-bg: transparent;
  --chatwidget-sendbutton-bg-hover: rgba(21, 39, 80, 0.5);
  --chatwidget-sendbutton-bg-active: #152750;
  --chatwidget-timestamp-color: #8996E7;
  --predictionlistwidget-scroll-thumb: #273E77;
  --predictionlistwidget-scroll-track: #172955;
  --predictionlistwidget-border-color: var(--border-color);
  --predictionlistwidget-title-color: #FFFFFF;
  --predictionlistwidget-prediction-bg: #0F1E3F;
  --predictionlistwidget-prediction-actual-bg: #0F1F43;
  --predictionlistwidget-prediction-actual-bg-anim: linear-gradient(77.35deg, rgba(255, 213, 137, 0) 0%, rgba(255, 213, 137, 0) 50%, rgba(255, 213, 137, 0.2) 100%);
  --predictionlistwidget-prediction-subtitle-color: #D0D7FF;
  --predictionlistwidget-prediction-name-color: #FFFFFF;
  --predictionlistwidget-prediction-schedule-color: #D0D7FF;
  --predictionlistwidget-prediction-time-color: #D0D7FF;
  --predictionlistwidget-prediction-divider-bg: #182A51;
  --predictionlistwidget-prediction-divider-won-bg: #0F1E3F;
  --predictionlistwidget-prediction-tillpayout-color: #d0d7ff;
  --predictionlistwidget-prediction-timecircle-border-color: #5D5F67;
  --predictionlistwidget-prediction-timeprogress-border-color: #D98405;
  --predictionlistwidget-prediction-restimeprogress-border-color: #009797;
  --predictionlistwidget-prediction-locktimer-border-color: #474C67;
  --predictionlistwidget-prediction-round-line: linear-gradient(77.35deg, #007397 0%, #009797 100%);
  --predictionlistwidget-prediction-positioning-line: linear-gradient(77.35deg, #FFA000 0%, #FFC700 100%);
  --predictionlistwidget-prediction-won-bg: #182A51;
  --predictionlistwidget-prediction-border-claimable: linear-gradient(to right, rgba(91, 124, 205, 0.8), rgba(91, 124, 205, 0.1), rgba(91, 124, 205, 0.7));
  --predictionlistwidget-prediction-border-actual: #18253A;
  --predictionlistwidget-prediction-won-claimable-bg: rgba(7, 18, 38, 1) linear-gradient(80deg, rgba(34, 54, 103, .8) 0%, #223667cc 25.95%, rgba(55, 80, 143, .8) 100%) padding-box;
  --predictionlistwidget-prediction-nocontest-claimable-bg: rgba(7, 18, 38, 1) linear-gradient(80deg, rgba(39, 62, 119, 1) 0%, rgba(39, 62, 119, 1) 25.95%, rgba(55, 80, 143, 1) 100%) padding-box;
  --predictionlistwidget-prediction-winning-border: #FFA000;
  --predictionlistwidget-prediction-wager-color: #FFFFFF;
  --predictionlistwidget-prediction-payout-percent-color: #FFFFFF;
  --predictionlistwidget-prediction-prize-color: #FFFFFF;
  --predictionlistwidget-prediction-payout-won-bg: #132447;
  --predictionlistwidget-prediction-payout-winning-bg: #0B1935;
  --predictionlistwidget-prediction-payout-won-claimable-bg: #203568;
  --predictionlistwidget-prediction-prize-payment-color: #FFFFFF;
  --predictionlistwidget-prediction-prize-percentage-color: #0F1F43;
  --predictionlistwidget-prediction-prize-percentage-bg: linear-gradient(77deg, rgba(247, 193, 91, 1), rgba(255, 215, 141, 1));
  --predictionlistwidget-prediction-withdraw-color: #172955;
  --predictionlistwidget-prediction-claim-bg: linear-gradient(77deg, rgba(247, 193, 91, 1), rgba(255, 215, 141, 1));
  --predictionlistwidget-prediction-return-bg: linear-gradient(77deg, rgba(138, 172, 204, 1), rgba(212, 236, 243, 1));
  --predictionlistwidget-resolved-title-color: #B7BDD7;
  --predictionlistwidget-resolvedprediction-bg: linear-gradient(var(--website-bg), var(--website-bg)) padding-box, linear-gradient(to right, #474C67, #474C67) border-box;
  --predictionlistwidget-resolvedprediction-pos-bg: linear-gradient(var(--website-bg), var(--website-bg)) padding-box, linear-gradient(to right, #009797, #00A573) border-box;
  --predictionlistwidget-resolvedprediction-neg-bg: linear-gradient(var(--website-bg), var(--website-bg)) padding-box, linear-gradient(to right, #F05750, #F07750) border-box;
  --predictionlistwidget-resolvedprediction-name-color: #FFFFFF;
  --predictionlistwidget-resolvedprediction-time-color: #B7BDD7;
  --predictionlistwidget-resolvedprediction-percent-neg-color: #F07750;
  --predictionlistwidget-resolvedprediction-percent-pos-color: #00A573;
  --predictionlistwidget-resolvedprediction-progressline-neg-bg: linear-gradient(77.35deg, #F05750 0%, #F07750 100%);
  --predictionlistwidget-resolvedprediction-progressline-pos-bg: linear-gradient(77.35deg, #009797 0%, #00A573 100%);
  --predictionlistwidget-resolvedprediction-wager-color: #FFFFFF;
  --predictionlistwidget-resolvedprediction-payout-percent-color: #FFFFFF;
  --predictionlistwidget-resolvedprediction-prize-color: #FFFFFF;
  --predictionlistwidget-resolvedprediction-prize-up-color: #00A573;
  --predictionlistwidget-resolvedprediction-prize-down-color: #F07750;
  --resolvedpredictionwidget-scroll-thumb: #22273F;
  --resolvedpredictionwidget-scroll-track: #474C67;
  --resolvedpredictionwidget-bg: #0F1F43;
  --resolvedpredictionwidget-close-bg: var(--resolvedpredictionwidget-bg);
  --resolvedpredictionwidget-close-bg-hover: #0F1F43;
  --resolvedpredictionwidget-close-bg-active: #172B5E;
  --resolvedpredictionwidget-close-border: #213157;
  --resolvedpredictionwidget-close-border-hover: #37476C;
  --resolvedpredictionwidget-inner-border: #213157;
  --resolvedpredictionwidget-resolution-details-bg: #172955;
  --resolvedpredictionwidget-prediction-win-bg: #172955;
  --resolvedpredictionwidget-prizefund-bg: #172955;
  --resolvedpredictionwidget-prediction-win-bg: #172955;
  --resolvedpredictionwidget-shadow: 0px 3px 37px rgba(0, 0, 0, 0.37);
  --resolvedpredictionwidget-bottom-shadow-bg: linear-gradient(180deg, rgba(15, 31, 67, 0.00) 0%, #0F1F43 90.5%);
  --resolvedpredictionwidget-level-color: #22273F;
  --resolvedpredictionwidget-bronze-bg: linear-gradient(45deg, #9B7C67 0%, #F6D2AE 54.67%, #C28F73 100%);
  --resolvedpredictionwidget-silver-bg: linear-gradient(45deg, #B6BBB4 0%, #E4E5E9 54.67%, #C4CAC3 100%);
  --resolvedpredictionwidget-gold-bg: linear-gradient(45deg, #D8C27C 0%, #F4EAAF 52%, #CDAB61 100%);
  --resolvedpredictionwidget-time-color: #FFFFFF;
  --resolvedpredictionwidget-name-color: #FFFFFF;
  --resolvedpredictionwidget-chart-leftmask-bg: linear-gradient(90deg, #303550 0%, rgba(48, 53, 80, 0) 100%);
  --resolvedpredictionwidget-chart-rightmask-bg: linear-gradient(90deg, rgba(48, 53, 80, 0) 0%, #303550 100%);
  --resolvedpredictionwidget-percent-neg-color: #F07750;
  --resolvedpredictionwidget-percent-pos-color: #00A573;
  --resolvedpredictionwidget-progressline-neg-bg: linear-gradient(77.35deg, #F05750 0%, #F07750 100%);
  --resolvedpredictionwidget-progressline-pos-bg: linear-gradient(77.35deg, #009797 0%, #00A573 100%);
  --resolvedpredictionwidget-summary-title-color: #FFFFFF;
  --resolvedpredictionwidget-wager-color: #FFFFFF;
  --resolvedpredictionwidget-prize-color: #FFFFFF;
  --resolvedpredictionwidget-prize-win-color: #00A573;
  --resolvedpredictionwidget-prize-lose-color: #F05350;
  --resolvedpredictionwidget-payout-percent-color: #B7BDD7;
  --resolvedpredictionwidget-summary-border-color: #474C67;
  --resolvedpredictionwidget-details-label-color: #B7BDD7;
  --resolvedpredictionwidget-details-value-color: #FFFFFF;
  --resolvedpredictionwidget-leaders-header-border-color: #474C67;
  --resolvedpredictionwidget-leaders-title-color: #FFFFFF;
  --resolvedpredictionwidget-leaders-number-color: #FFFFFF;
  --resolvedpredictionwidget-leaders-quantity-color: #FFFFFF;
  --resolvedpredictionwidget-bettor-name-color: #FFFFFF;
  --resolvedpredictionwidget-bettor-label-color: #B7BDD7;
  --resolvedpredictionwidget-bettor-payout-percent-color: #FFFFFF;
  --resolvedpredictionwidget-bettor-prize-color: #FFFFFF;
  --resolvedpredictionwidget-bettor-prize-up-color: #00A573;
  --resolvedpredictionwidget-bettor-prize-down-color: #F05350;
  --gamelist-options-bg: rgba(16, 29, 60, 0.85);
  --gamelist-games-bg: #10234E;
  --gamelist-close-border-color: #293C67;
  --gamelist-close-border-color-hover: #545B7E;
  --gamelist-close-bg-hover: #313A63;
  --gamelist-close-bg-active: #545B7E;
  --gamelist-option-bg: transparent;
  --gamelist-option-bg-hover: #222F4B;
  --gamelist-option-bg-active: #222F4B;
  --gamelist-schedulepicker-option-bg-selected: #1F50F7;
  --gamelist-levelpicker-option-bronze-bg-selected: linear-gradient(to right, #977864 0%, #E1BD99 11.5%, #FAD5B1 29.5%, #BD896E 100%);
  --gamelist-levelpicker-option-silver-bg-selected: linear-gradient(to right, #ABCAEF 0%, #D0D7F4 50%, #F6E4F8 100%);
  --gamelist-levelpicker-option-gold-bg-selected: linear-gradient(to right, #D6BF78 0%, #FAF4BC 11.5%, #EEDFA3 29.5%, #CBA85D 100%);
  --gamelist-levelpicker-option-color-selected: #071226;
  --gamelist-searchbar-value-color: #BEC7FF;
  --gamelist-searchbar-value-bg: rgba(10, 24, 50, 0.63);
  --gamelist-round-bg: transparent;
  --gamelist-round-bg-hover: #1A2F63;
  --gamelist-round-bg-active: #1A2F63;
  --gamelist-round-border-color-pined: #ffffff;
  --gamelist-round-border-color-selected: linear-gradient(77.35deg, rgba(91, 124, 205, 0.8), rgba(91, 124, 205, 0.1), rgba(91, 124, 205, 0.7));
  --gamelist-round-bg-pined: var(--gamelist-games-bg);
  --gamelist-round-bg-selected: linear-gradient(77.35deg, rgba(39, 62, 119, 1) 26%, rgba(55, 80, 143, 1) 100%) padding-box;
  --gamelist-round-bg-anim: linear-gradient(90deg, transparent 0%, #1E3779 50%, transparent 100%);
  --gamelist-round-name-color: #FFFFFF;
  --gamelist-round-timeprogress-border-color: #7CD0FF;
  --gamelist-round-currency-level-fill: #10234E;
  --gamelist-round-base-border-color: #FFFFFF;
  --gamelist-scroll-thumb: #273E77;
  --gamelist-scroll-track: #172955;
  --common-currency-balance-bg: #FFFFFF;
  --common-currency-claim-bg: linear-gradient(77.35deg, #009797 0%, #00A573 100%);
  --common-currency-level-bronze-bg: linear-gradient(45deg, #9B7C67 0%, #F6D2AE 54.67%, #C28F73 100%);
  --common-currency-level-silver-bg: linear-gradient(45deg, #B6BBB4 0%, #E4E5E9 54.67%, #C4CAC3 100%);
  --common-currency-level-gold-bg: linear-gradient(45deg, #D8C27C 0%, #F4EAAF 52%, #CDAB61 100%);
  --common-currency-level-allinone-bg: linear-gradient(77.35deg, #009797 0%, #00A573 100%);
  --common-currency-result-win-bg: linear-gradient(77.35deg, #009797 0%, #00A573 100%);
  --common-currency-result-lose-bg: linear-gradient(77.35deg, #F05750 0%, #F07750 100%);
  --common-currency-result-draw-bg: linear-gradient(45deg, #B6BBB4 0%, #E4E5E9 54.67%, #C4CAC3 100%);
  --notification-error-bg: #D32F2F;
  --notification-color: #ffffff;
  --notification-icon-error-bg: #EF5350;
  --notification-close-bg-error-hover: #E53935;
  --notification-close-bg-error-active: #EF5350;
  --payout-gold-color: #FED486;
  --payout-gold-bg: rgba(254, 206, 134, 0.2);
  --payout-gold-border: var(--payout-gold-bg) linear-gradient(45deg, rgba(254, 217, 131, 0.33) 0%, rgba(254, 217, 131, 0.05) 48%, rgba(254, 217, 131, 0.33) 100%);
  --payout-gold-gradient: linear-gradient(90deg, transparent, var(--payout-gold-bg) 50%, transparent);
  --payout-gold-coin-shadow: 0 0 20px 0 var(--payout-gold-bg);
  --payout-silver-color: #BFDAE8;
  --payout-silver-bg: rgba(193, 219, 233, 0.1);
  --payout-silver-border: var(--payout-silver-bg) linear-gradient(45deg, rgba(197, 222, 235, 0.37) 0%, rgba(197, 222, 235, 0.05) 48%, rgba(197, 222, 235, 0.2) 100%);
  --payout-silver-gradient: linear-gradient(90deg, transparent, var(--payout-silver-bg) 50%, transparent);
  --payout-silver-coin-shadow: 0 0 20px 0 var(--payout-silver-bg);
  --payout-green-color: #7EFFDE;
  --payout-green-bg: rgba(72, 230, 190, 0.2);
  --payout-green-border: var(--payout-green-bg) linear-gradient(45deg, rgba(72, 230, 190, 0.37) 0%, rgba(72, 230, 190, 0.5) 48%, rgba(72, 230, 190, 0.2) 100%);
  --payout-green-gradient: linear-gradient(90deg, transparent, var(--payout-silver-bg) 50%, transparent);
  --payout-green-coin-shadow: 0 0 20px 0 var(--payout-silver-bg);

  // global header colors
  --pm-gh-spinner-color: #474C67;
  --pm-gh-copy-icon-color: #6381E7;
  --pm-gh-copy-icon-color-hover: #7992E7;
  --pm-gh-copy-icon-color-active: #92A7EC;
  --pm-gh-modal-overlay-bg: rgba(34, 39, 63, 0.7);
  --pm-gh-nickname-input-color: #FFFFFF;
  --pm-gh-nickname-input-placeholder-color: #A3AFF2;
  --pm-gh-nickname-input-placeholder-focus-color: #577CF9;
  --pm-gh-nickname-input-border-color: #283F78;
  --pm-gh-nickname-input-border-focus-color: #1F50F7;
  --pm-gh-nickname-editicon-bg: transparent;
  --pm-gh-nickname-editicon-bg-hover: #283F78;
  --pm-gh-nickname-editicon-bg-active: #3C538D;
  --pm-gh-nickname-editicon-fill: #6381E7;
  --pm-gh-nickname-editicon-fill-hover: #7992E7;
  --pm-gh-nickname-editicon-fill-active: #92A7EC;
  --pm-gh-nickname-save-bg: #1F50F7;
  --pm-gh-nickname-save-bg-hover: #305DF8;
  --pm-gh-nickname-save-bg-active: #305DF8;
  --pm-gh-nickname-hint-bg: #2051F7;
  --pm-gh-nickname-hint-close-bg: transparent;
  --pm-gh-nickname-hint-close-bg-hover: rgba(255,255,255,0.1);
  --pm-gh-nickname-hint-close-bg-active: rgba(255,255,255,0.25);
  --pm-gh-scroll-thumb: #283F78;
  --pm-gh-scroll-track: #172B5E;
  --pm-gh-statistics-header-stickyheader-gradient: linear-gradient(to bottom, rgba(18, 36, 77, 1), rgba(18, 36, 77, 0));
  --pm-gh-notification-item-shadow: 0px 0px 20px 0px rgba(0,0,0,.3);
  --pm-gh-notification-item-bg: linear-gradient(77.35deg, rgba(31, 68, 247, 1) 21%, rgba(87, 125, 255, 1) 97%);
  --pm-gh-notification-item-icon-bg: #3F6AFF;
  --pm-gh-notification-item-action-bg: #071226;
  --pm-gh-invitation-link-bg: #172B5E;
  --pm-gh-invitation-link-color: #D0D7FF;
  --pm-gh-invitation-link-icon-fill: #D0D7FF;
  --pm-gh-feature-toggle-bg: #1d3779;
  --pm-gh-feature-toggle-hover: #051A48;
  --pm-gh-feature-toggle-active: #0B3088;
  --pm-gh-feature-toggle-modal-bg: #152b5d;
  --pm-gh-feature-toggle-header-border: #283F78;
  --pm-gh-feature-toggle-close-bg: transparent;
  --pm-gh-feature-toggle-close-bg-hover: #172B5E;
  --pm-gh-feature-toggle-close-bg-active: #283F78;
  --pm-gh-feature-toggle-close-border: #283F78;
  --pm-gh-feature-toggle-close-border-hover: #2F4782;
  --pm-gh-feature-toggle-close-border-active: #2F4782;
  --pm-gh-feature-toggle-description-color: #D0D7FF;
  --pm-gh-toggle-button-bg-off: #CDDCFE;
  --pm-gh-toggle-button-bg-on: #FFFFFF;
  --pm-gh-toggle-button-circle-off: #6A83C0;
  --pm-gh-toggle-button-circle-on: #1940C6;
  --pm-gh-network-modal-row-border-color: #283F78;
  --pm-gh-network-modal-row-name-color: #D0D7FF;
  --pm-gh-network-status-bg-hover: #0C1937;
  --pm-gh-network-status-bg-active: #0F1F43;
  --pm-gh-network-status-circle-bg: #071226;
  --header-bg: var(--website-bg);
  --navbar-bg: var(--website-bg);
  --navbar-border-color: var(--border-color);
  --navbar-icon-bg-hover: #051A48;
  --navbar-icon-bg-active: #0B3088;
  --navbar-icon-bg-selected: #1E3779;
  --navbar-label-color: #D0D7FF;
  --navbar-label-color-selected: #979FC7;
  --navbar-expanded-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .3);
  --profilebar-bg-hover: transparent;
  --profilebar-bg-active: transparent;
  --profilebar-border-color: #131E31;
  --profilebar-border-hover-color: #131E31;
  --profilebar-cash-bg: #0F1F43;
  --profilebar-cash-bg-hover: rgba(30, 55, 121, .5);
  --profilebar-cash-bg-active: rgba(30, 55, 121, .5);
  --profilebar-cash-bg-parent-hover: #0F1F43;
  --profilebar-cash-bg-parent-active: #0F1F43;
  --profilebar-cash-color: #FFFFFF;
  --profilebar-cash-dropdown-icon-color: #D0D7FF;
  --profilebar-cash-diffrenece-bg: #303550;
  --profilebar-cash-increase-color: #00A573;
  --profilebar-cash-decrease-color: #F07750;
  --profilebar-account-name-color: #D0D7FF;
  --profilebar-wallet-address-color: #FFFFFF;
  --profilebar-currency-popover-color: #FFFFFF;
  --profilebar-currency-popover-bg: #132550;
  --profilebar-currency-popover-option-bg: #132550;
  --profilebar-currency-popover-option-bg-hover: rgba(30, 55, 121, .5);
  --profilebar-currency-popover-option-bg-active: #0D1C3C;
  --profilebar-currency-popover-option-icon-bg: #132551;
  --profilebar-currency-popover-option-icon-color: #D0D7FF;
  --profilebar-currency-popover-option-currency-color: #D0D7FF;
  --connect-button-color: #FFFFFF;
  --connect-button-background-color: #1F50F7;
  --connect-button-background-color-hover: #3350FF;
  --connect-button-background-color-active: #5E75FF;
  --connect-bar-color: #ffffff;
  --connect-bar-background-color: #10234E;
  --connect-bar-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .3);
  --connect-bar-connector-background-color: #172B5E;
  --connect-bar-connector-background-color-hover: #1F356E;
  --connect-bar-connector-background-color-active: #010102;
  --connect-bar-close-icon-border-color: #283F78;
  --connect-bar-close-icon-border-color-hover: #2F4782;
  --connect-bar-close-icon-border-color-active: #2F4782;
  --connect-bar-close-icon-background-color: transparent;
  --connect-bar-close-icon-background-color-hover: #172B5E;
  --connect-bar-close-icon-background-color-active: #283F78;
  --connect-bar-policy-color: #BDBFC9;
  --connect-bar-policy-hyperlink-color: #ffffff;
  --statistics-bar-background-color: #10234E;
  --statistics-bar-box-shadow: var(--connect-bar-box-shadow);
  --statistics-bar-close-icon-border-color: #283F78;
  --statistics-bar-close-icon-border-color-hover: #2F4782;
  --statistics-bar-close-icon-border-color-active: #2F4782;
  --statistics-bar-close-icon-background-color: transparent;
  --statistics-bar-close-icon-background-color-hover: #172B5E;
  --statistics-bar-close-icon-background-color-active: #283F78;
  --statistics-bar-stats-border-color: #252B47;
  --statistics-bar-stats-title-bg: #283F78;
  --statistics-bar-tab-bg-color: transparent;
  --statistics-bar-tab-selected-bg-color: #1F50F7;
  --statistics-bar-tab-border-color: #283F78;
  --statistics-bar-stats-table-bg: #172B5E;
  --statistics-bar-stats-table-secondary-color: #D0D7FF;
  --statistics-bar-stats-table-header-color: #A3AFF2;
  --statistics-bar-stats-table-tr-border-color: #283F78;
  --statistics-bar-stats-table-th-border-color: #37508F;
}
